pandas==1.5.2
requests==2.28.1
scikit-learn==1.1.3
scipy==1.9.3
nltk==3.2.5 # pyup: ignore
pytest==7.2.0
Elasticsearch==8.5.2
gensim==3.6.0 # pyup: ignore
annoy==1.17.1
unicodecsv==0.14.1
us==1.0.0
Sqlalchemy==1.2.14
geocoder==1.38.1
psycopg2==2.7.6.1
alembic==1.0.2
retrying==1.3.3
fiona==1.8.0
shapely==1.6.4.post2
filelock==3.0.10
bs4==0.0.1
lxml==4.2.5
fuzzywuzzy==0.17.0
python-Levenshtein==0.12.0
dickens==1.0.1
skills-utils==0.4.0
s3fs==0.1.6
dill==0.2.8.2
toolz==0.9.0
multiprocess==0.70.6.1
