pandas==1.0.1
requests==2.23.0
scikit-learn==0.22.1
scipy==1.4.1
nltk==3.2.5 # pyup: ignore
pytest==5.3.5
Elasticsearch==7.5.1
gensim==3.6.0 # pyup: ignore
annoy==1.16.3
unicodecsv==0.14.1
us==1.0.0
Sqlalchemy==1.3.13
geocoder==1.38.1
psycopg2==2.8.4
alembic==1.4.0
retrying==1.3.3
fiona==1.8.13.post1
shapely==1.7.0
filelock==3.0.12
bs4==0.0.1
lxml==4.5.0
fuzzywuzzy==0.17.0
python-Levenshtein==0.12.0
dickens==1.0.1
skills-utils==0.4.0
s3fs==0.1.6
dill==0.2.8.2
toolz==0.9.0
multiprocess==0.70.6.1
