codecov==2.1.12
httpretty==1.1.4
freezegun==1.1.0
mock==4.0.3
moto==2.3.1
pytest-cov==3.0.0
pytest==6.2.5
testing.postgresql==1.3.0
tox==3.24.5
bumpversion==0.5.3
mkdocs==1.0.4
git+git://github.com/thcrock/pydoc-markdown.git@master
mkdocs-material==3.0.6
factory_boy==2.11.1
jupyter==1.0.0
