pandas==0.22.0
requests==2.18.4
scikit-learn
scipy
nltk
pytest
PyYAML
Elasticsearch
gensim == 2.2.0
annoy
unicodecsv
us
Sqlalchemy
geocoder
psycopg2
alembic
retrying
fiona
shapely
filelock
bs4
lxml
fuzzywuzzy
python-Levenshtein
dickens
skills-utils ~= 0.2
